@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body {font-family:'Satisfy', cursive}
* {box-sizing: border-box;}
img {
    float: left;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: block;
}

.list-navbar {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: cornsilk;
}

.li-style {
    float: left;
    margin-top:1em;
}

li a {
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
}

.li-style a:hover {
    background-color: whitesmoke;
}

.li-style a:active {
    color:grey;
}

.li-style a:visited {
    color: black;
}

p {
    font-family: 'Satisfy', cursive;
}
.column {
    float: left;
    width: 30%;
  }
  
 