@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
img {
    float: left;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: block;
}

.list-navbar {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: cornsilk;
}

.li-style {
    float: left;
    margin-top:1em;
}

li a {
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
}

.li-style a:hover {
    background-color: whitesmoke;
}

.li-style a:active {
    color:grey;
}

.li-style a:visited {
    color: black;
}

body {font-family:'Satisfy', cursive}
* {box-sizing: border-box;}
h3 {
  font-family: 'Satisfy', cursive;
}
/*contact form*/ 
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #bebebe;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: cornsilk;
}

.container {
  border-radius: 5px;
  background-color: cornsilk;
  padding: 20px;
}