img {
    float: left;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: block;
}

.list-navbar {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: cornsilk;
}

.li-style {
    float: left;
    margin-top:1em;
}

li a {
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}

.li-style a:hover {
    background-color: whitesmoke;
}

.li-style a:active {
    color:grey;
}

.li-style a:visited {
    color: black;
}